﻿/* General CSS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@media only screen () {
}

/* Mobile View */

@media only screen and (max-width: 768px) {
    /*.navbar navbar-default .navbar-fixed-top .navbar-inverse{
        position:fixed !important; top:50px !important; left:20px; z-index:1030;
    }*/

    /*.navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }*/

    .navbar-brand {
        position: relative;
        left: -20px;
        background-color: transparent;
    }

    .navbar, .navbar-nav {
        border-radius: 0;
        border: none;
        margin-bottom: 0;
        min-height: 50px;
    }

    .nav li {
	    display: inline;
	    color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
	    color: #ffffff;
	    font-family: Lato;
	    font-size: 1.7em;
	    font-weight: 300;
        text-align: left;
	    padding: 30px 25px 33px 25px;
    }

    .navbar-inverse .navbar-nav li a:hover {
	    background-color: #444444;
	    transition: 0.7s all linear;
	    height: 100%;
    }

    /*.navbar, .navbar-collapse {
        text-align: center;
        overflow: hidden;
        height:100%;
    }*/

    .mainImage { width: 90%!important; height: 90%;}
    .aboutImage{ width:100px; }

    style-element {
        font-size: 20px;
    }

    .pageView {
	    top: 55px;
	    left: 5px!important;
	    width: 97.5%!important;
	    height: 87%!important;
    }

    /*.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }     
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }*/

    .button { 
        font-size:.5em!important;
    }

    .btn { font-size: .6em!important; }

    .button-group {
        margin-left: -18px!important;
    } 
    
    .eduTable { 
        margin-left: -10px!important; 
        width: 90%!important;
    }   

    .expTable table {
        margin-left: -10px!important;
        width: 120%!important;
    }
}

@media only screen and (max-width: 1920px) {
    .aboutImage{ 
        width:100px; 
        height:180px;
    }

    /*.brand-centered{
        position: absolute;
        left: 48%;
        display: block;
        width: 150px;
        text-align: center;
        background-color: transparent;
    }*/

    ul a {
	    text-decoration:none;
	    display:block;
	    color:white;
	    padding:10px 1px;
        width:100px;
	    text-align:center;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    }

    .pageView {
	    top: 55px;
	    left: 30px;
	    width: 96%;
	    height: 88%;
    }

    .button-group {
        margin-left: -10px!important;
    } 
}

@media only screen and (max-width: 320px) {
   style-element {
     font-size: 14px;
   }
}

/*.container {
    margin-left: 20px !important;
    position: relative;
    margin: 0 5px 0 20px;
    margin-left: 20px !important;
    width: 97%;
    height: auto;
}*/

/*******************************/
/****** Start NavBar Menu ******/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 1px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(100, 55, 155, 1);
    background-color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(100, 55, 155, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #64379b;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #64379b;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #64379b;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

ul {
	margin:0;
	padding:0;
	list-style:none;
    /*width:100%;*/
}

ul ul {
	opacity:0;
	position:absolute;
	top:160%;
	visibility:hidden;
	transition:all .4s ease;
	-webkit-transition:all .4s ease;
}

ul ul ul {
	top:0%;
	left:160%;
}

ul ul li:hover > ul {
	top:0%;
	left:100%;
	opacity:1;
	visibility:visible;
    background-color: black;
}

ul li:hover > ul {
	opacity:1;
	top:100%;
	visibility:visible;
    background-color:black;
}

ul li:hover {
	background-color:#757575;
}

ul li a:hover {
	background-color:#64379b;
    color:white;
}

/*span.dropBottom,span.dropRight {
	display: block;
	box-shadow:inset 2px 0 0 #8e8e8e;
	position: absolute;
	left: 0px;
	top: 0px;
    width:100%;
	height: 100%;
}

span.dropBottom {
	box-shadow:inset 0 2px 0 #FFF;
	position: absolute;
	width: 100%;
	bottom: 0;
}*/

/********** End NavBar Menu ***************/
/******************************************/


/************************************/
/*********** Main Site Code *********/
/*html {
    overflow-y: scroll;
    top:30px;
}*/

header {
	position: fixed;
	top: 0;
	left 0;
	width: 100%;
	height:40px;
	background-color: black;
	color: white;
	z-index: 99;
}

footer {
    position: fixed;
    top: 95.5%;
	left:0;
    width: 100%;
    height: 35px;
    background-color:black;
    color:white;
    z-index: 99;
}

.pageView {
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index:1;
    border:1px solid blue;
}

.blankBar {
    display:block;
    position: fixed;
    left: 2.3%;
    top: 3.8%;
    width: 97%;
    height: 50px;
    background:#fff;
    border:none;
    z-index:0;
}

.topBar {
    display: block;
    position: fixed;
    left: 2.5%;
    top: 9%;
    width: 97%;
    height: 80px;
    background:#d8d8d8;
    border:1px;
    border-radius:25px;
    z-index:4;   
}

.topSection {
    width:400px;
}

.topAdjust {
    padding-top: 70px;
}

.spacer {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 4.2%;
}

.bg-brand {
    background-color:#64379b; 
    color:white;
}

.panel-group {
    margin-bottom: 10px;
}

.image-section {
    position:absolute;
    top:23%;
    left:3.4%;
}	

.image-container {
	border: black;
    border-width: 1px;
    box-shadow:inset 0 2px 0 rgba(0, 0, 0, 1);
    width: 100%;
    padding-bottom: 50%;
    background: #fff;
    color: black;
    position: relative;
}	

.box {
    border: 1px solid black;
    height: 100px;
}

.box-red {
    border: 1px solid red;
    height: 100px;
}
.box-blue {
    border: 1px solid blue;
    height: 100px;
}
.box-green {
    border: 1px solid green;
    height: 100px;
}

.title {
    position:relative;
    font-weight: bold;
    color: black;
    top: 25px;
}

.logo {
    position: absolute;
    margin: 5px;
    /*width: 137px; */
    height:70px;
    top: 0px;
    left: 10px;
}

.achievements ul {
    color: black;
    display: list-item;
}

.achievements li {
    list-style-type:disc;
}

.achievements li a {
    display: inline;
    color: black;   
}

.achievements li a:hover{
    color: #64379b;
    background-color: transparent;
}

.achievements li:hover {
    color: black;
    background-color: transparent;
}

row-xs-height {
    height:20px !important;
}

html {
    overflow:hidden!important;
}

body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
	padding: 60px 0;
    overflow-x: hidden;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

div.clearFloat,div.clearfix {clear:both;}
img {border:0;}

h1 {
    color:#EDEDED;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    color: white !important;
}

a {
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

a:link{
	/*color:white;*/
	text-decoration:none;	
}
			
/*a:visited{
	color:white;
}
				
a:hover{
	color:#757575;
}
*/

a:active {
    color: #757575;
}

/************************************/
/************* Home Page ************/
.mainView {
    /*position:relative;*/
    top: 40%;
    width:100%;
    margin: 0 auto; /*center-aligned*/
    z-index: 1;
}

.main {
    display: block;
    position:absolute;
    left:100px;
    top:100px;
    margin: 0 auto; /*center-aligned*/
    z-index: 1;
}

.mainImage {
    /*position: absolute;*/
    left: 50%;
    padding: 70px 0 20px 0;
    margin: 0 auto; /*center-aligned*/
    z-index: 1;
    width:50%;
}

/************************************/
/************ About Page ************/
.aboutImage {
    /*position: absolute;*/
    padding: 35px 0 20px 0;
    /*margin: 0 auto;*/
    z-index: 1;
}

.iq {
    /*left: 50%;*/
    padding: 1px 0 20px 0;
    /*margin: 0 auto;*/ 
    width:100px;
    z-index: 1;
}

textarea {
	resize: none;
    width:98%;
    border:none;
    font-family: monospace;
    color:black;
}

.panel-heading {
    background-color: #64379b!important;
    color: white!important;
}

.panel-heading:hover {
    background-color: black!important;
}

.sectiontitle {
    color:red;
    text-align: center;
    width:100%;
}

.floatingbox {
    float:left;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #fff;
    margin:5px;
    padding:5px;
}

.list {
    width:25%;
}

.detail {
    width:75%;
}

/************************************/
/*********** Portfolio Page *********/
.portfolioButtons {
    display:inline-block;
    text-align:center;
    position: fixed;
    top:20%;
    left:30%;
    margin: 0 auto;
    width: 97%;
}

.portfolioData {
    position: relative;
    top:50px;
    border: 1px solid black;
}

.portfolioImg {
    width: 250px !important;
}

/***** Portfolio Button FIlters *****/

.filters {
    margin-left:3px!important;
    margin-top:15px;
}

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #000;
  font-family: sans-serif;
  font-size: 1em;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #64379b;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #64379b;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

	.animate {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.info-card {
		width: 100%;
		border: 1px solid rgb(215, 215, 215);
		position: relative;
		font-family: 'Lato', sans-serif;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.info-card > img {
		width: 100%;
        max-width: 100%;
		margin-bottom: 60px;
	}
	.info-card .info-card-details,
	.info-card .info-card-details .info-card-header  {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -100%;
		left: 0;
		padding: 0 10px;
		background: #64379b;
        color: white;
		text-align: justify;
	}
	/*.info-card .info-card-details::-webkit-scrollbar {
		width: 8px;
	}*/
	/*.info-card .info-card-details::-webkit-scrollbar-button {
		width: 8px;
		height: 0;
	}*/
	.info-card .info-card-details::-webkit-scrollbar-track {
		background: transparent;
	}
	.info-card .info-card-details::-webkit-scrollbar-thumb {
		background: rgb(160, 160, 160);
	}
	.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
		background: rgb(130, 130, 130);
	}           

	.info-card .info-card-details .info-card-header {
		height: auto;		
		bottom: 100%;
		padding: 10px 5px;
	}
	.info-card:hover .info-card-details {
		bottom: 0;
		overflow: auto;
		padding-bottom: 25px;
	}
	.info-card:hover .info-card-details .info-card-header {
		position: relative;
		bottom: 0;
		padding-top: 45px;
		padding-bottom: 25px;
	}
	.info-card .info-card-details .info-card-header h1,	
	.info-card .info-card-details .info-card-header h3 {
		color: white /*rgb(62, 62, 62)*/ !important;
		font-size: 22px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 !important;
		padding: 0 !important;
        text-align:center;
	}
	.info-card .info-card-details .info-card-header h3 {
		color: rgb(142, 182, 52);
		font-size: 15px;
		font-weight: 400;
		margin-top: 5px;
	}
	.info-card .info-card-details .info-card-detail .social {
		list-style: none;
		padding: 0;
		margin-top: 25px;
		text-align: center;
	}
	.info-card .info-card-details .info-card-detail .social a {
		position: relative;
		display: inline-block;
		min-width: 40px;
		padding: 10px 0;
		margin: 0 5px;
		overflow: hidden;
		text-align: center;
		background-color: rgb(215, 215, 215);
		border-radius: 40px;
	}

	a.social-icon {
		text-decoration: none !important;
		box-shadow: 0 0 1px rgb(51, 51, 51);
		box-shadow: 0 0 1px rgba(51, 51, 51, 0.7);
	}
	a.social-icon:hover {
		color: rgb(255, 255, 255) !important;
	}
	a.facebook {
		color: rgb(59, 90, 154) !important;
	}
	a.facebook:hover {		
		background-color: rgb(59, 90, 154) !important;
	}
	a.twitter {
		color: rgb(45, 168, 225) !important;
	}
	a.twitter:hover {
		background-color: rgb(45, 168, 225) !important;
	}
	a.github {
		color: rgb(51, 51, 51) !important;
	}
	a.github:hover {
		background-color: rgb(51, 51, 51) !important;
	}
    a.envelope {
        color: rgb(255, 255, 255) !important;
    }
    a.envelope:hover {
        background-color:rgb(255,255,255) !important;
    }
	a.google-plus {
		color: rgb(244, 94, 75) !important;
	}
	a.google-plus:hover {
		background-color: rgb(244, 94, 75) !important;
	}
	a.linkedin {
		color: rgb(1, 116, 179) !important;
	}
	a.linkedin:hover {
		background-color: rgb(1, 116, 179) !important;
	}

/* ---- isotope ---- */

.grid {
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


/****** Code Page ******/
.codePanels {
    margin: 150px 80px 0 0;
}

figure{
    width:400px;
    height:220px;
    border-radius:15px;
    border:2px solid #ccc;
    position:relative;
}

figure:before{
    content:'';
    position:absolute;
    top:40px;
    left:0;
    width:100%;
    height:2px;
    background:#ccc;
}

.codeTxt{
    display: none;
}

/********* End General CSS ******/

/*********Footer*****************/

/*.socialMedia {
    position:relative;    
    left: 100%;
    top:-30px;
    margin: 0 auto; center-aligned
}*/

footer {
    position:fixed;
    margin: 0 auto;
    top: 95.5%;
    width: 100%;
    height: 35px;
    background-color:black;
    color:white;
    z-index: 99;
}

footer p {
  font-size: .75em;
  color:white;
  position:absolute;
  top:10px;
  left:20px;
}

footer h4 {
  opacity: .5;
}

.social {
    list-style-type: none;
    padding: 0 0 10px 10px;
    margin:0 auto;
    position: absolute;
    left: 50%;
    top: 10px;
    color:white;
}

.social.li {
    display: inline-block;
}

.social .li a {
        padding: 10px 10px;
        margin: 0 5px;
        font-size: 1.1em;
        font-weight: normal;
}

.social .li i {
        color: #fff;
        transition: .35s ease-in-out;
}

a:hover .twitter {
  color: #55ACEE;
}

a:hover .facebook {
  color: #EC4989;
}

a:hover .linkedin {
  color: #24679F;
}
a:hover .email {
  color: #4285F4;
}

/********************************/

/* Mouseover Buttons Start */

#Button {
    z-index: 1;
    background-image: url("/images/Button_Off.png");
    width: 150px;
    height: 75px;
    border-style: none;
}

    #Button:hover {
        z-index: 1;
        background-image: url("/images/Button_Over.png");
        width: 150px;
        height: 75px;
        border-style: none;
    }

#Button01Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 35px;
    top: 22px;
    text-decoration: none;
}

#Button01 {
    position: relative;
    left: 689px;
    top: -455px;
    width: 150px;
    height: 75px;
}

#Button02Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 48px;
    top: 22px;
    text-decoration: none;
}

#Button02 {
    position: relative;
    left: 846px;
    top: -530px;
    width: 150px;
    height: 75px;
}

#Button03Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 40px;
    top: 22px;
    text-decoration: none;
}

#Button03 {
    position: relative;
    left: 689px;
    top: -525px;
    width: 150px;
    height: 75px;
}


#Button04Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 45px !important;
    top: 22px;
    text-decoration: none;
}

#Button04 {
    position: relative;
    left: 846px;
    top: -599px;
    width: 150px;
    height: 75px;
}

#Button05Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 45px;
    top: 22px;
    text-decoration: none;
}

#Button05 {
    position: relative;
    left: 689px;
    top: -595px;
    width: 150px;
    height: 75px;
}

#Button06Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 17px;
    top: 15px;
    text-decoration: none;
}

#Button06 {
    position: relative;
    left: 846px;
    top: -670px;
    width: 150px;
    height: 75px;
}


#Button07Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 10px;
    top: 15px;
    text-decoration: none;
}

#Button07 {
    position: relative;
    left: 689px;
    top: -664px;
    width: 150px;
    height: 75px;
}

#Button08Text {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri !important;
    left: 10px;
    top: 15px;
    text-decoration: none;
}

#Button08 {
    position: relative;
    left: 846px;
    top: -739px;
    width: 150px;
    height: 75px;
}

/* Mouseover Buttons End */

